body {
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0 auto;
}

header {
    height: 10rem;
    background-image: url("./components/images/stars.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.gameContainer {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

    padding-top: 100px;
}

.keyboardContainer {
    padding-left: 100px;
}

.keyboardContainer .keyboard {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.keyboard button {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    background: rgb(82, 100, 85);
    border-radius: 4px;
    text-transform: uppercase;
    width: calc(100% / 9 - 5px);
}

.wordToGuess {
    font-size: 60px;
    letter-spacing: 30px;
}

.textBox {
    height: 30px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.textBoxContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    letter-spacing: 3px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

/* CSS for elipses animation */

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026";
    /* ascii code for the ellipsis character */
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

/* Styling for the scores table */


tr:nth-child(even) {
    background-color: hsl(51, 77%, 49%, .75);

}

th,
td,
tr {
    border: none;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;

}


.scoresTable {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-collapse: collapse;
    border-spacing: 10px 0;
    border: none;
    width: 75%;
}

.correctGuess {
  background-color: rgb(31, 93, 31);
  color: white;
}

.wrongGuess {
  background-color: rgb(232, 80, 80);
  color: white;
}
